In [1]:
import pandas as pd

df = pd.read_csv('./automobileEDA.csv')
df

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,std,four,sedan,rwd,front,109.1,0.907256,...,9.5,114.0,5400.0,23,28,16845.0,10.217391,Medium,0,1
197,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,...,8.7,160.0,5300.0,19,25,19045.0,12.368421,High,0,1
198,-1,95,volvo,std,four,sedan,rwd,front,109.1,0.907256,...,8.8,134.0,5500.0,18,23,21485.0,13.055556,Medium,0,1
199,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,...,23.0,106.0,4800.0,26,27,22470.0,9.038462,Medium,1,0
200,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,...,9.5,114.0,5400.0,19,25,22625.0,12.368421,Medium,0,1

In [2]:
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1

##### Code Diatas mengambil 5 data teratas dari data frame yang telah dibuat sebelumnya

In [3]:
df.tail()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
196,-1,95,volvo,std,four,sedan,rwd,front,109.1,0.907256,...,9.5,114.0,5400.0,23,28,16845.0,10.217391,Medium,0,1
197,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,...,8.7,160.0,5300.0,19,25,19045.0,12.368421,High,0,1
198,-1,95,volvo,std,four,sedan,rwd,front,109.1,0.907256,...,8.8,134.0,5500.0,18,23,21485.0,13.055556,Medium,0,1
199,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,...,23.0,106.0,4800.0,26,27,22470.0,9.038462,Medium,1,0
200,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,...,9.5,114.0,5400.0,19,25,22625.0,12.368421,Medium,0,1

##### Code Diatas mengambil 5 data terakhir dari data frame yang telah dibuat sebelumnya

In [7]:
type(df.dtypes), len(df.dtypes), df.dtypes

(pandas.core.series.Series,
 29,
 symboling              int64
 normalized-losses      int64
 make                  object
 aspiration            object
 num-of-doors          object
 body-style            object
 drive-wheels          object
 engine-location       object
 wheel-base           float64
 length               float64
 width                float64
 height               float64
 curb-weight            int64
 engine-type           object
 num-of-cylinders      object
 engine-size            int64
 fuel-system           object
 bore                 float64
 stroke               float64
 compression-ratio    float64
 horsepower           float64
 peak-rpm             float64
 city-mpg               int64
 highway-mpg            int64
 price                float64
 city-L/100km         float64
 horsepower-binned     object
 diesel                 int64
 gas                    int64
 dtype: object)

#### type(df.dtypes) untuk mengetahui tipe fungsi dari df.dtypes
#### len(df.dtypes) untuk mengetahui jumlah kolom dari df.dtypes
#### df.dtypes untuk mengetahui tipe data dari setiap kolom

In [15]:

df_noid = df.iloc[:,2:]
df_noid

,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,0.890278,48.8,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,0.890278,48.8,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,0.909722,52.4,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,audi,std,four,sedan,fwd,front,99.8,0.848630,0.919444,54.3,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,audi,std,four,sedan,4wd,front,99.4,0.848630,0.922222,54.3,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,volvo,std,four,sedan,rwd,front,109.1,0.907256,0.956944,55.5,...,9.5,114.0,5400.0,23,28,16845.0,10.217391,Medium,0,1
197,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,0.955556,55.5,...,8.7,160.0,5300.0,19,25,19045.0,12.368421,High,0,1
198,volvo,std,four,sedan,rwd,front,109.1,0.907256,0.956944,55.5,...,8.8,134.0,5500.0,18,23,21485.0,13.055556,Medium,0,1
199,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,0.956944,55.5,...,23.0,106.0,4800.0,26,27,22470.0,9.038462,Medium,1,0
200,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,0.956944,55.5,...,9.5,114.0,5400.0,19,25,22625.0,12.368421,Medium,0,1

#### df.iloc[:,2:] untuk mengambil semua baris dan kolom ke 2 sampai akhir

In [17]:
df_noid = df.iloc[:,2:]
df1 = df_noid.sort_values(by=['horsepower'], ascending=True)
df1.head(10)

,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
17,chevrolet,std,two,hatchback,fwd,front,88.4,0.678039,0.837500,53.2,...,9.5,48.0,5100.0,47,53,5151.0,5.000000,Low,0,1
178,volkswagen,std,two,sedan,fwd,front,97.3,0.825084,0.909722,55.7,...,23.0,52.0,4800.0,37,46,7775.0,6.351351,Low,1,0
180,volkswagen,std,four,sedan,fwd,front,97.3,0.825084,0.909722,55.7,...,23.0,52.0,4800.0,37,46,7995.0,6.351351,Low,1,0
87,nissan,std,two,sedan,fwd,front,94.5,0.794330,0.886111,54.5,...,21.9,55.0,4800.0,45,50,7099.0,5.222222,Low,1,0
155,toyota,std,four,hatchback,fwd,front,95.7,0.799135,0.894444,52.8,...,22.5,56.0,4500.0,38,47,7788.0,6.184211,Low,1,0
154,toyota,std,four,sedan,fwd,front,95.7,0.799135,0.894444,53.0,...,22.5,56.0,4500.0,34,36,7898.0,6.911765,Low,1,0
29,honda,std,two,hatchback,fwd,front,86.6,0.694858,0.887500,50.8,...,9.6,58.0,4800.0,49,54,6479.0,4.795918,Low,0,1
31,honda,std,two,hatchback,fwd,front,93.7,0.720807,0.888889,52.6,...,10.1,60.0,5500.0,38,42,5399.0,6.184211,Low,0,1
149,toyota,std,four,wagon,fwd,front,95.7,0.815473,0.883333,59.1,...,9.0,62.0,4800.0,31,37,6918.0,7.580645,Low,0,1
150,toyota,std,four,wagon,4wd,front,95.7,0.815473,0.883333,59.1,...,9.0,62.0,4800.0,27,32,7898.0,8.703704,Low,0,1

#### code diatas untuk mengurutkan data berdasarkan kolom 'horsepower' secara ascending dan mengambil 10 data teratas

In [23]:
df1 = df_noid.sort_values(by=['horsepower','body-style'], ascending=[False,True])
df1.head(10)

,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
46,jaguar,std,two,sedan,rwd,front,102.0,0.921192,0.980556,47.8,...,11.5,262.0,5000.0,13,17,36000.0,18.076923,NaN,0,1
125,porsche,std,two,convertible,rwd,rear,89.5,0.811629,0.902778,51.6,...,9.5,207.0,5900.0,17,25,37028.0,13.823529,High,0,1
123,porsche,std,two,hardtop,rwd,rear,89.5,0.811629,0.902778,51.6,...,9.5,207.0,5900.0,17,25,32528.0,13.823529,High,0,1
124,porsche,std,two,hardtop,rwd,rear,89.5,0.811629,0.902778,51.6,...,9.5,207.0,5900.0,17,25,34028.0,13.823529,High,0,1
102,nissan,turbo,two,hatchback,rwd,front,91.3,0.820279,0.943056,49.7,...,7.8,200.0,5200.0,17,23,19699.0,13.823529,High,0,1
71,mercedes-benz,std,two,hardtop,rwd,front,112.0,0.957232,1.000000,55.4,...,8.0,184.0,4500.0,14,16,45400.0,16.785714,High,0,1
70,mercedes-benz,std,four,sedan,rwd,front,120.9,1.000000,0.995833,56.7,...,8.0,184.0,4500.0,14,16,40960.0,16.785714,High,0,1
14,bmw,std,four,sedan,rwd,front,103.5,0.908217,0.929167,55.7,...,8.0,182.0,5400.0,16,22,30760.0,14.687500,High,0,1
15,bmw,std,two,sedan,rwd,front,103.5,0.931283,0.943056,53.7,...,8.0,182.0,5400.0,16,22,41315.0,14.687500,High,0,1
16,bmw,std,four,sedan,rwd,front,110.0,0.946660,0.984722,56.3,...,8.0,182.0,5400.0,15,20,36880.0,15.666667,High,0,1

#### code diatas untuk mengurutkan data berdasarkan kolom 'body-style' secara descending dan mengambil 10 data teratas

In [24]:
df_noid.describe()

,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,197.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,98.797015,0.837102,0.915126,53.766667,2555.666667,126.875622,3.330692,3.256904,10.164279,103.405534,5117.665368,25.179104,30.686567,13207.129353,9.944145,0.099502,0.900498
std,6.066366,0.059213,0.029187,2.447822,517.296727,41.546834,0.268072,0.319256,4.004965,37.365700,478.113805,6.423220,6.815150,7947.066342,2.534599,0.300083,0.300083
min,86.600000,0.678039,0.837500,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,4.795918,0.000000,0.000000
25%,94.500000,0.801538,0.890278,52.000000,2169.000000,98.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000,7.833333,0.000000,1.000000
50%,97.000000,0.832292,0.909722,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5125.369458,24.000000,30.000000,10295.000000,9.791667,0.000000,1.000000
75%,102.400000,0.881788,0.925000,55.500000,2926.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000,12.368421,0.000000,1.000000
max,120.900000,1.000000,1.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000,18.076923,1.000000,1.000000

#### df_noid.describe() untuk mengetahui statistik dari data frame df_noid

In [25]:
df_noid.describe(include='all')

,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
count,201,201,201,201,201,201,201.000000,201.000000,201.000000,201.000000,...,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,200,201.000000,201.000000
unique,22,2,2,5,3,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
top,toyota,std,four,sedan,fwd,front,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low,NaN,NaN
freq,32,165,115,94,118,198,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,98.797015,0.837102,0.915126,53.766667,...,10.164279,103.405534,5117.665368,25.179104,30.686567,13207.129353,9.944145,NaN,0.099502,0.900498
std,NaN,NaN,NaN,NaN,NaN,NaN,6.066366,0.059213,0.029187,2.447822,...,4.004965,37.365700,478.113805,6.423220,6.815150,7947.066342,2.534599,NaN,0.300083,0.300083
min,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,0.678039,0.837500,47.800000,...,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,4.795918,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,0.801538,0.890278,52.000000,...,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000,7.833333,NaN,0.000000,1.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,0.832292,0.909722,54.100000,...,9.000000,95.000000,5125.369458,24.000000,30.000000,10295.000000,9.791667,NaN,0.000000,1.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,0.881788,0.925000,55.500000,...,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000,12.368421,NaN,0.000000,1.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,1.000000,1.000000,59.800000,...,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000,18.076923,NaN,1.000000,1.000000

#### df_noid.describe(include='all') untuk mengetahui statistik dari data frame df_noid termasuk data kategorikal (object)

#### perbedaan dari df.describe() dan df.describe(include='all') adalah df.describe() hanya menampilkan statistik dari data numerikal saja sedangkan df.describe(include='all') menampilkan statistik dari data numerikal dan kategorikal

#### df_noid.mean() untuk mengetahui rata-rata dari setiap kolom pada data frame df_noid (hanya data numerikal)

In [26]:
df_noid.mean()

TypeError: can only concatenate str (not "int") to str

####  untuk mengetahui rata-rata dari kolom 'length','width','height'

In [27]:
df_noid[['length','width','height']].mean()

length     0.837102
width      0.915126
height    53.766667
dtype: float64

####  untuk mengetahui median dari kolom 'length','width','height','price'

In [28]:
df_noid[['length','width','height','price']].median()

length        0.832292
width         0.909722
height       54.100000
price     10295.000000
dtype: float64

#### untuk mengetahui modus dari kolom 'make'

In [29]:
df_noid[['make']].mode()

     make
0  toyota

##### mengambil max dari kolom 'price' dari data frame df_noid

In [30]:
df_noid[['price']].max()

price    45400.0
dtype: float64

#### untuk mengetahui quartile 3 dari kolom 'price'

In [31]:
df_noid[['price']].quantile(0.75)

price    16500.0
Name: 0.75, dtype: float64

#### df_noid[['price']].var() untuk mengetahui variansi dari kolom 'price'
#### df_noid[['price']].std() untuk mengetahui standar deviasi dari kolom 'price'

In [32]:
df_noid[['price']].var(), df_noid[['price']].std()

(price    6.315586e+07
 dtype: float64,
 price    7947.066342
 dtype: float64)

#### df_noid[['make']].value_counts() untuk mengetahui jumlah data dari setiap kategori pada kolom 'make'

In [33]:
df_noid[['make']].value_counts()

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              6
saab              6
porsche           4
jaguar            3
chevrolet         3
alfa-romero       3
isuzu             2
renault           2
mercury           1
Name: count, dtype: int64

####  untuk mengetahui rata-rata harga dari setiap kategori pada kolom 'make' dan diurutkan secara descending

In [34]:
df_noid.groupby('make')[['price']].mean().sort_values(by='price', ascending=False)

                      price
make
jaguar         34600.000000
mercedes-benz  33647.000000
porsche        31400.500000
bmw            26118.750000
volvo          18063.181818
audi           17859.166667
mercury        16503.000000
alfa-romero    15498.333333
peugot         15489.090909
saab           15223.333333
mazda          10652.882353
nissan         10415.666667
volkswagen     10077.500000
toyota          9885.812500
renault         9595.000000
mitsubishi      9239.769231
isuzu           8916.500000
subaru          8541.250000
honda           8184.692308
plymouth        7963.428571
dodge           7875.444444
chevrolet       6007.000000

In [35]:
df_noid.corr()

ValueError: could not convert string to float: 'alfa-romero'

#### df_noid.corr() untuk mengetahui korelasi antar kolom pada data frame df_noid (hanya untuk data numerikal)